:host {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    &.is-loading {
        display: block;
    }
}
